server {
    listen              80;

    server_name  moodmachine.ru www.moodmachine.ru;
    return 301 https://$host$request_uri;
}

server {
    listen              443 ssl;

    server_name  moodmachine.ru www.moodmachine.ru;

    ssl_certificate     /etc/nginx/certs/live/moodmachine.ru/fullchain.pem;
    ssl_certificate_key /etc/nginx/certs/live/moodmachine.ru/privkey.pem;

    include         /etc/nginx/conf.d/options-ssl-nginx.conf;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_read_timeout 120;
        proxy_pass http://127.0.0.1:3000;
    }
}
